<header class="header">
    <a href="http://kinoafisha.info/?{{=it.locale.utm}}" class="header_logo" target="_blank"></a>
    <div class="header_post">
        <br data-component="Post" />
    </div>
    <div class="header_user">
        <br data-component="User" />
    </div>
</header>