@import "res/css/mixins.less";

@header-padding: 20px;

.header {
    display: flex;
    justify-content:space-between;
    height: 55px;
    border-bottom: 1px @line-color solid;
    }

    .header_logo {
        display: block;
        width: 140px;
        padding: 0 @header-padding;
        box-sizing: border-box;
        background: url('img/logo.png') no-repeat 50% 50%;
        }

    .header_post {
        display: flex;
        align-items: center;
        width: 140px;
        }

    .header_user {
        display: flex;
        align-items:center;
        padding: 0 @header-padding;
        text-align: right;
        }