<div class="wrapper">
    {{? it.appState === 'Main'}}

        <br data-component="Header" />
        <!--
        {{? it.isLoginned}}
            <br data-component="Widgets" />
        {{?}}
        -->

        <br data-component="Feed" />

        {{? !it.isLoginned}}
            <br data-component="FavoriteBar" />
        {{?}}

    {{?? it.appState === 'Auth'}}
        <br data-component="Auth" />
    {{?}}
</div>