<section class="widgets">
    <div class="widgets_item">
        <br data-component="Widget" data-model="{role: 'feedback', counter: 0}" />
    </div>
    <div class="widgets_item">
        <br data-component="Widget" data-model="{role: 'like', counter: 0}" />
    </div>
    <div class="widgets_item">
        <br data-component="Widget" data-model="{role: 'dislike', counter: 0}" />
    </div>
</section>