@import "res/css/mixins.less";

.widgets {
    display: flex;
    border-bottom: 1px @line-color solid;
    }

    .widgets_item {
        width: 33%;

        & + & {
            border-left: 1px @line-color solid;
            }
        }