<div class="oauth-providers">

    <div class="oauth-providers_item">
        <br data-component="OAuthProvider" data-model="{role: 'vk'}" />
    </div>
    <div class="oauth-providers_item">
        <br data-component="OAuthProvider" data-model="{role: 'fb'}" />
    </div>
    <div class="oauth-providers_item">
        <br data-component="OAuthProvider" data-model="{role: 'ok'}" />
    </div>

</div>