<div class="feed-calendar">
    {{? it.showCalendar}}
        <div class="feed-calendar_ac"></div>
        <div class="feed-calendar_list">
            {{~it.dateList :date:index}}
                <div class="feed-calendar_item" data-date="{{=date.parsedDate}}">{{=date.formatDate}}</div>
            {{~}}
        </div>
    {{?}}
</div>