.feed-calendar {
    position: relative;
    }

    .feed-calendar_ac {
        display: inline-block;
        height: 24px;
        width: 40px;
        border-radius: 4px;
        border: 1px solid transparent;
        background: url('img/calendar.png') 50% 50% no-repeat;
        cursor: pointer;
        }

    .feed-calendar_list {
        display: none;
        position: absolute;
        top: 25px;
        right: 0;
        width: 120px;
        overflow: auto;
        max-height: 168px;
        border: 1px solid #4b4b4b;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background-color: #1f1f1f;
        z-index: 100;

        &::-webkit-scrollbar {
            width: 8px;
            background: transparent;
            }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: #706f6f;
            }

        &.__active {
            display: block;
            }
        }

        .feed-calendar_item {
            padding: 0 12px;
            height: 24px;
            line-height: 24px;
            color: #706f6f;
            font-size: 12px;
            cursor: pointer;
            }