@line-color: #363636;

.clearfix() {

    &:before {
        content: "";
        display: table;
        }

    &:after {
        content: "";
        display: table;
        clear: both;
        }
    }