html, body {
    padding: 0;
    margin: 0;
    }

body {
    color: #a3a3a3;
    font: 15px/1.32 Arial, sans-serif;
    }

h1 {
    margin: 0;
    font-weight: 400;
    }

a:focus {
    outline: none;
    }