.button {
    height: 22px;
    line-height: 20px;
    padding: 0 14px;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 4px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: #cd250e;
    cursor: pointer;
    outline: none;

    &.__sec {
        border-color: rgba(255,255,255,.2);
        background-color: transparent;
        }

    &.__action {
        height: 26px;
        line-height: 24px;
        background-color: #ea7414;
        }
    }

@-moz-document url-prefix() {
    .button {
        line-height: 1.2;
        }
    }

.logout {
    width: 14px;
    height: 13px;
    border: none;
    background: transparent url('img/logout.png');
    cursor: pointer;
    outline: none;
    }