.feed {
    position: relative;
    height: 253px;
    }

    .feed_tabs {
        padding: 16px 0 14px;
        text-align: center;
        }

    .feed_list {

        }

    .feed_calendar {
        position: absolute;
        top: 16px;
        right: 16px;
        }