<section class="feed">
    <div class="feed_tabs">
        <br data-component="FeedTabs" />
    </div>
    <div class="feed_calendar">
        <br data-component="FeedCalendar" />
    </div>
    <div class="feed_list">
        <br data-component="FeedList" />
    </div>
</section>