.user {

    }

    .user_link {
        color: #6d6d72;
        text-decoration: none;
        }

    .user_name {
        vertical-align: middle;
        margin-right: 7px;
        font-size: 12px;
        }

    .user_avatar {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        border-radius: 10px;
        margin-right: 7px;
        overflow: hidden;
        }

    .user_actions {
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
        }