<div class="user">
    {{? it.isLoginned}}
        <a class="user_link" {{? it.link}}href="{{!it.link}}?{{=it.locale.utm}}" target="_blank"{{?}}>
            {{? it.userName}}
                <span class="user_name">{{!it.userName}}</span>
            {{?}}
            {{? it.avatar}}
                <img class="user_avatar" src="{{!it.avatar}}" alt="{{!it.userName}}"/>
            {{?}}
        </a>
        <span class="user_actions">
            <br data-component="LogoutButton" />
        </span>
    {{??}}
        <span class="user_actions">
            <br data-component="StateButton" data-model="{state: 'Auth', mod: '__primary', key: 'button_enter'}" />
        </span>
    {{?}}
</div>