<div class="widget {{? it.active}}__active{{?}}">
    <div class="widget_title">
        {{? it.role === 'feedback'}}
            {{=it.locale.widget_feedback}}
        {{?? it.role === 'like'}}
            <span class="widget_icon __like"></span>
        {{?? it.role === 'dislike'}}
            <span class="widget_icon __dislike"></span>
        {{?}}
    </div>

    <div class="widget_counter">
        {{!it.counter}}
    </div>
</div>