.widget {
    height: 49px;
    padding: 0 12px 0 20px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-size: 14px;
    cursor: pointer;
    }

    .widget.__active .widget_title {
        color: #fff;
        }

        .widget_icon {
            display: block;
            width: 15px;
            height: 15px;

            &.__like {
                background-image: url('img/like.png');

                .widget.__active & {
                    background-image: url('img/like_active.png');
                    }
                }

            &.__dislike {
                background-image: url('img/dislike.png');

                .widget.__active & {
                    background-image: url('img/dislike_active.png');
                    }
                }
            }

    .widget_counter {
        padding-right: 15px;
        background: url('img/link-arrow.png') no-repeat 100% 50%;

        .widget.__active & {
            color: #ea7414;
            font-weight: 700;
            }
        }