@import "res/css/mixins.less";

.auth-tabs {
    padding-top: 8px;
    padding-left: 40px;
    padding-bottom: 11px;
    border-bottom: 1px @line-color solid;
    font-size: 13px;
    }

    .auth-tabs_title {
        display: inline-block;
        }


