<nav class="auth-tabs">
    <span class="auth-tabs_title">{{=it.locale.tabs_enter}}</span>

    <br data-component="AuthTab" data-model="{role: 'OAuth', key: 'tabs_socials'}" />
    <br data-component="AuthTab" data-model="{role: 'Email', key: 'tabs_email'}" />
</nav>