@tab-height: 24px;

.feed-tab {
    height: @tab-height;
    line-height: @tab-height;
    padding: 0 12px;
    color: #706f6f;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

    & + & {
        border-left: 1px solid #4b4b4b;
        }

    &.__active {
        color: #a3a3a3;
        background-color: #4b4b4b;
        cursor: default;
        }
    }