.oauth-provider {
    height: 116px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;

    &.__vk {
        background-color: #223c5c;
        background-image: url('img/vk.png');
        }

    &.__fb {
        background-color: #3b5b9b;
        background-image: url('img/fb.png');
        }

    &.__ok {
        background-color: #ee8208;
        background-image: url('img/ok.png');
        }
    }