.feed-list {
    position: relative;
    height: 180px;
    margin: 0 20px;
    }

    .feed-list_hld {
        overflow-x: auto;
        overflow-y: hidden;
        overflow: -moz-scrollbars-none;
        height: 180px;
        }

        .feed-list_hld::-webkit-scrollbar {
            display: none;
            }

        .feed-list_cnt {
            white-space: nowrap;
            font-size: 0;
            }

            .feed-list_i {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 100px;
                height: 150px;
                box-sizing: border-box;
                font-size: 13px;
                white-space: normal;
                color: #fff;
                background-color: #575757;

                & + & {
                    margin-left: 12px;
                    }
                }

                .feed-list_img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100px;
                    height: 150px;
                    }

                .feed-list_date {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    padding-top: 12px;
                    font-size: 12px;
                    color: #fff;
                    }

                .feed-list_title {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 10px;
                    box-sizing: border-box;
                    background-color: rgba(0, 0, 0, 0.8);
                    opacity: 0;
                    transition: opacity 0.3s;

                    .feed-list_i.__show-title &,
                    .feed-list_i:not(.__show-title):hover & {
                        opacity: 1;
                        }
                    }

                .feed-list_fav {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 47px;
                    height: 47px;
                    background-image: url('img/favorite.png');
                    }

    .feed-list_arrow {
        position: absolute;
        top: 0;
        height: 150px;
        width: 35px;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0.5s;

        &.__left {
            left: 0;
            background: url('img/slider-left-arrow.png') 100% 50% no-repeat, linear-gradient(to right, rgba(31,31,31,1) 0%,rgba(0,0,0,0) 100%);
            }

        &.__right {
            right: 0;
            background: url('img/slider-right-arrow.png') 0% 50% no-repeat, linear-gradient(to left, rgba(31,31,31,1) 0%,rgba(0,0,0,0) 100%);
            }

        &.__active {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s;
            }
        }

    .feed-list_stub {
        height: 150px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;

        &:before {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            }
        }

        .feed-list_a {
            color: #fff;
            text-decoration: none;
            }