<div class="feed-list">
    <div class="feed-list_hld">
        <div class="feed-list_cnt">
            {{? it.list.length}}
                {{~it.list :film:index}}
                <a href="{{!film.link}}?{{=it.locale.utm}}" target="_blank" class="feed-list_i {{? !film.poster}}__show-title{{?}}">
                    {{? film.poster }}
                        <img class="feed-list_img" src="{{!film.poster}}" alt="{{!film.name}}" />
                    {{?}}
                    <div class="feed-list_title">{{!film.name}}</div>
                    <div class="feed-list_date">{{!film.formatDate}}</div>
                    {{? film.favorite && it.isLoginned}}
                    <div class="feed-list_fav"></div>
                    {{?}}
                </a>
                {{~}}
            {{??}}
                <div class="feed-list_stub">
                    {{? it.currentFilterState === 'Favorites'}}
                        {{=it.locale.stub_feed_favorites}}<a href="http://kinoafisha.info/favourite/?{{=it.locale.utm}}" target="_blank" class="feed-list_a">kinoafisha.info</a>
                    {{??}}
                        {{=it.locale.stub_feed_all}}
                    {{?}}
                </div>
            {{?}}
        </div>
    </div>

    <div class="feed-list_arrow __left"></div>
    <div class="feed-list_arrow __right"></div>
</div>