@import "res/css/mixins.less";

.favorite-bar {
    display: flex;
    align-items:center;
    justify-content:center;
    height: 50px;
    border-top: 1px @line-color solid;
    font-size: 12px;
    }

    .favorite-bar_icon {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 11px;
        margin-right: 10px;
        background-image: url('img/heart.png');
        }

    .favorite-bar_text {
        cursor: pointer;
        }