<div class="email-provider">
    <form autocomplete="off">
        <div class="email-provider_field">
            <input class="it" type="text" value="{{=it.email}}" placeholder="{{=it.locale.placeholders_email}}" name="email" autocomplete="off" spellcheck="false" />
        </div>
        <div class="email-provider_field">
            <input class="it" type="password" placeholder="{{=it.locale.placeholder_password}}" name="password" autocomplete="off" />
        </div>

        <div class="email-provider_validation {{? it.error}}__active{{?}}">{{=it.locale.validation_incorrect}}</div>

        <div class="email-provider_footer">
            <div class="email-provider_button">
                <br data-component="LoginButton" />
            </div>

            <div class="email-provider_links">
                <a href="http://www.kinoafisha.info/?{{=it.locale.utm}}#!reg" target="_blank" class="email-provider_link">{{=it.locale.link_register}}</a>
                <a href="http://www.kinoafisha.info/?{{=it.locale.utm}}#!recover" target="_blank" class="email-provider_link">{{=it.locale.link_recover}}</a>
            </div>
        </div>
    </form>
</div>