@import "res/css/mixins.less";

.email-provider {
    padding-left: 40px;
    padding-top: 24px;
    padding-right: 40px;
    }

    .email-provider_field {
        margin-bottom: 3px;
        }

    .email-provider_validation {
        padding-top: 8px;
        margin-bottom: 18px;
        visibility: hidden;
        text-align: right;
        color: #ff4343;
        font-size: 13px;

        &.__active {
            visibility: visible;
            }
        }

    .email-provider_footer {
        display: flex;
        justify-content:space-between;
        align-items:center;
        }

        .email-provider_button {

            }

        .email-provider_links {

            }

            .email-provider_link {
                margin-left: 20px;
                font-size: 13px;
                cursor: pointer;
                color: #a3a3a3;
                text-decoration: none;
                }

.it {
    width: 100%;
    box-sizing: border-box;
    border: 0 none;
    border-bottom: 1px @line-color solid;
    font-size: 26px;
    line-height: 44px;
    color: #a3a3a3;
    background-color: transparent;
    outline: none;
    }