@auth-padding: 20px;

.auth {

    }

    .auth_header {
        display: flex;
        justify-content:space-between;
        height: 90px;
        }

        .auth_title {
            padding-top: 29px;
            padding-left: 40px;
            font-size: 36px;
            color: #fff;
            }

        .auth_actions {
            overflow: hidden;

            display: flex;
            align-items: center;
            height: 55px;

            text-align: right;
            padding-right: @auth-padding;
            }

    .auth_panel {

        }

        .auth_tabs {

            }

        .auth_providers {

            }