<div class="auth">
    <header class="auth_header">
        <h1 class="auth_title">{{=it.locale.title_auth}}</h1>
        <div class="auth_actions">
            <br data-component="StateButton" data-model="{state: 'Main', mod: '__sec', key: 'button_back'}"/>
        </div>
    </header>

    <div class="auth_panel">
        <div class="auth_tabs">
            <br data-component="AuthTabs" />
        </div>
        <div class="auth_providers">
            <br data-component="AuthProviders" />
        </div>
    </div>
</div>