{{? it.link}}
<a class="post" href="{{!it.link}}&{{=it.locale.utm}}" target="_blank">
    {{? it.image}}
        <img class="post_image" src="{{!it.image}}" />
    {{??}}
        <div class="post_image"></div>
    {{?}}
    <div class="post_text">
        {{? it.new}}
            <span class="post_new">
                {{=it.locale.text_new}}
            </span>
        {{?}}
        {{=it.locale.text_post}}
    </div>
</a>
{{??}}
    <div></div>
{{?}}