.post {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    }

    .post_image {
        margin-right: 8px;
        width: 53px;
        height: 40px;
        object-fit: cover;
        }

    .post_text {
        font-size: 12px;
        line-height: 1.1;
        color: #fff;
        }

    .post_new {
        background-color: #ca271b;
        text-transform: uppercase;
        font-size: 9px;
        display: inline-block;
        padding: 3px 3px 1px;
        }