<span class="auth-tab {{? it.active}}__active{{?}}">
    {{? it.role === 'OAuth'}}
        {{=it.locale.tabs_socials}}
    {{?? it.role === 'Email'}}
        {{=it.locale.tabs_email}}
    {{?}}

    <span class="auth-tab_decor"></span>
</span>