@import "res/css/mixins.less";


.auth-tab {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    cursor: pointer;

    &.__active {
        color: #fff;
        cursor: default;
        }
    }

.auth-tab_decor {
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    display: none;
    overflow: hidden;
    text-align: center;

    &:before {
        content: '';
        display: inline-block;
        position: relative;
        top: -6px;
        width: 12px;
        height: 12px;
        transform: rotate(-45deg);
        border: 1px transparent solid;
        border-left-color: @line-color;
        border-bottom-color: @line-color;
        background-color: #1f1f1f;
        }

    .auth-tab.__active & {
        display: block;
        }
    }