<nav class="feed-tabs">
    <br data-component="FeedTab" data-model="{role: 'Actual'}" />
    <br data-component="FeedTab" data-model="{role: 'Premiers'}" />
    {{? it.isLoginned }}
        <br data-component="FeedTab" data-model="{role: 'Favorites'}" />
    {{?}}
</nav>