<div class="auth-providers">
    {{? it.authState === 'OAuth'}}
        <br data-component="OAuthProviders" />
    {{?? it.authState === 'Email'}}
        <br data-component="EmailAuthProvider" data-model="{email: ''}" />
    {{?}}
</div>